{% extends "base_template.html" %}

{% block title %}Anytable{% endblock title %}
{% block stylesheet %}
{{ super() }}
{% endblock stylesheet %}

{% block javascript %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function() {
     $('#cls_index').DataTable();
 } );
</script>
{% endblock javascript %}

    {% block main %}
    <div class="card">
        <div class="card-header">
            {{ cls }}
        </div>
        <div class="card-body">
    <table id="cls_index" class="table table-responsive-sm table-hover table-outline table-striped table-bordered mt-3 mb-3">
        <thead>
            <tr>
                <th>ID</th>
                {% for field in fields %}
                <th>{{ field }}</th>
                {% endfor %}
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cls_index %}
            <tr>
                <td>{{ item["id"] }}</td>
                {% for field in fields %}
                <td>{{ item[field] }}</td>
                {% endfor %}
                <td>{{ item["created_at"] }}</td>
                <td>{{ item["updated_at"] }}</td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group mr-2">
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('anytable.cls_new', cls=cls ) }}'">New {{ cls }}</button>
        </div>
    </div>
{% endblock main %}
