{% extends "base_template.html" %}

{% block title %}Anytable{% endblock title %}
{% block stylesheet %}
{{ super() }}
{% endblock stylesheet %}

    {% block main %}
    <div class="card">
        <div class="card-header">
            Anytables
        </div>
        <div class="card-body">
    <table class="table table-responsive-sm table-hover table-outline table-striped table-bordered mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Table Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for anytable in anytables.items %}
            <tr>
                <td>{{ anytable.id }}</td>
                <td>{{ anytable.table_name }}</td>
                <td>{{ anytable.description }}</td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='anytable/{{anytable.id}}'">Show</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% if anytables.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('anytable.index', page=anytables.prev_num) }}">Prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('anytable.index', page=anytables.prev_num) }}">Prev</a>
        </li>
        {% endif %}
        {% for page in anytables.iter_pages() %}
        {% if page %}
        {% if page == anytables.page %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for('anytable.index', page=page) }}{{ fragment }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('anytable.index', page=page) }}{{ fragment }}">{{ page }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled">&hellip;</li>
        {% endif %}
        {% endfor %}
        {% if anytables.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('anytable.index', page=anytables.next_num) }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('anytable.index', page=anytables.next_num) }}">Next</a>
        </li>
        {% endif %}
    </ul>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('anytable.new') }}'">New Anytable</button>
        </div>
    </div>
{% endblock main %}
