{% extends "base_template.html" %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
 $(document).ready(function() {
     var max_fields_limit      = 8; //set limit for maximum input fields
     var x = 1; //initialize counter for text box
     $('.add_more_button').click(function(e){ //click event on add more fields button having class add_more_button
         e.preventDefault();
         if(x < max_fields_limit){ //check conditions
             x++; //counter increment
             $('.input_fields_container_part').append('<div><input type="text" name="tags"/><a href="#" class="remove_field" style="margin-left:10px;">Remove</a></div>'); //add input field
         }
     });
     $('.input_fields_container_part').on("click",".remove_field", function(e){ //user click on remove text links
         e.preventDefault(); $(this).parent('div').remove(); x--;
     })
 });
</script>
{% endblock %}
{% block main %}
<div class="card">
    <div class="card-header">
        New Table
    </div>
    <div class="card-body">
        <form action="{{ url_for('anytable.create') }}" method=post class="form-horizontal " id="anytable_create">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.table_name.label(class_="col-md-3 col-form-label") }}{{ form.table_name(class_="form-control col-md-6") }}
            </div>
            <div class="form-group row">
                {{ form.description.label(class_="col-md-3 col-form-label") }}{{ form.description(class_="form-control col-md-6") }}
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="input_fields_container_part">
            <div><input type="text" name="tags">
                <button class="btn btn-sm btn-primary add_more_button">Add More Fields</button>
            </div>
        </div>

        {{ form.submit(class_="btn btn-sm btn-primary", form="anytable_create") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="anytable_create") }}
    </div>
</div>
{% endblock main %}
