{% extends "base_template.html" %}
{% block sidebar_nav %}
{% for anytable in anytables %}
<li class="nav-item">
    <a class="nav-link active" href="/anytable/{{ anytable.table_name }}">
        {{ anytable.table_name }}
    </a>
</li>
{% endfor %}
{% endblock sidebar_nav %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
 $(document).ready(function() {
     var max_fields_limit      = 8; //set limit for maximum input fields
     var field_num = 1; //initialize counter for text box
     $('.add_more_button').click(function(e){ //click event on add more fields button having class add_more_button
         e.preventDefault();
         if(field_num < max_fields_limit){ //check conditions
             field_num++; //counter increment
             $('#field_num').val(field_num);
             var $field_html = '<div class="form-group row"><label class="col-md-3 col-form-label">Field' + field_num + ':</label><input type="text" name="field' + field_num + '_name" class="form-control col-md-2"><select name="field' + field_num + '_type" class="form-control col-md-2"><option value="integer">Integer</option><option value="float">Float</option><option value="boolean">Boolean</option><option value="string">String</option><option value="date">Date</option><option value="datetime">DateTime</option></select><div class="form-check"><input type="checkbox" class="form-check-input" name="field' + field_num + '_nullable" value="1"><label class="form-check-label" for="nullable">Nullable</label></div><div class="form-check"><input type="checkbox" class="form-check-input" name="field' + field_num + '_unique" value="1"><label class="form-check-label" for="unique">Unique</label></div><a href="#" class="btn btn-sm btn-danger remove_field">Remove</a></div>'
             $('.input_fields_container_part').append($field_html); //add input field
         }
     });
     $('.input_fields_container_part').on("click",".remove_field", function(e){ //user click on remove text links
         e.preventDefault(); $(this).parent('div').remove();
         field_num--;
         $('#field_num').val(field_num);
     })
 });
</script>
{% endblock %}
{% block main %}
<div class="card">
    <div class="card-header">
        New Table
    </div>
    <div class="card-body">
        <form action="{{ url_for('anytable.create') }}" method=post class="form-horizontal " id="anytable_create">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.table_name.label(class_="col-md-3 col-form-label") }}{{ form.table_name(class_="form-control col-md-6") }}
            </div>
            <div class="form-group row">
                {{ form.description.label(class_="col-md-3 col-form-label") }}{{ form.description(class_="form-control col-md-6") }}
            </div>
            <div class="input_fields_container_part">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Field1:</label>
                    <input type="text" name="field1_name" class="form-control col-md-2">
                    <select name="field1_type" class="form-control col-md-2">
                        <option value="integer">Integer</option>
                        <option value="float">Float</option>
                        <option value="string">String</option>
                        <option value="boolean">Boolean</option>
                        <option value="date">Date</option>
                        <option value="datetime">DateTime</option>
                    </select>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="field1_nullable" value="1">
                        <label class="form-check-label" for="nullable">
                            Nullable
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="field1_unique" value="1">
                        <label class="form-check-label" for="unique">
                            Unique
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary add_more_button">Add Field</button>
            <input type="hidden" id="field_num" name="field_num" value="1">
        </form>
    </div>
    <div class="card-footer">
        {{ form.submit(class_="btn btn-sm btn-primary", form="anytable_create") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="anytable_create") }}
    </div>
</div>
{% endblock main %}
